/** 
REFRESHER ON TAILWIND CONFIG

BASE:
  The base is the first Tailwind CSS layer. What you see is what you will get on all devices. This is a good place to modify a base style, like changing how images behave by default or if paragraphs should have a bottom margin.

  Note that here is very useful to add or modify anything want to make something more special than the default browser handling, but without going into full styling, since these styles must be overridable. 

COMPONENTS:
  Component classes mean "one class, many styles". 
  Use this to create classes that will be re-used across different components.

UTILITIES:
  Utility classes mean "one class, one style." 
  While Tailwind provides a pretty comprehensive set of utility classes out of the box, you may run into situations where you need to add a few of your own.

VARIANTS:
  Use this directive to control where Tailwind injects the hover, focus, responsive, dark mode, and other variants of each class.

  If omitted, Tailwind will append these classes to the very end of your stylesheet by default.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    @apply box-border
  }
  h1 {
    @apply text-5xl font-semibold text-gray-900
  }
  h2 {
    @apply text-2xl font-semibold text-gray-900
  }
  h3 {
    @apply text-xl font-semibold text-gray-900;
  }
  h4 {
    @apply text-lg font-semibold text-gray-900;
  }
  a {
   @apply underline text-blue-600 hover:text-blue-800 cursor-pointer
  }
  /* p, h1, h2, h3, h4 {
    @apply mb-4
  } */

  /* body {
    @apply bg-background
  } */
}

@layer components {

}

@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
}